@media screen and (min-width: 1025px) {
  .Sidebar-button { display: none !important; }
  nav, 
  .navbar,
  .text-placeholder,
   nav ul,nav li{
   
    display:none  !important;

  }
}

nav {
/*position: absolute;*/
display: flex;
width: 100%;
justify-content: center;
text-align: center;
 
}


.navbar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 460px;
  background: #078080;

}



.Sidebar-button {
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 0;
  width: 80px;
  height: 50px;
  border-radius: 70%;
  background: transparent;
}

nav ul {
  position: relative;
 /* top: 6rem;
  right: 59px;*/
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrerar alla li-element horisontellt */
  width: 100%;
  padding: 0px;
  margin: 16px 0;

}

.text-placeholder {
  width: 100%;             /* Tar upp 100% av sin förälders (li) bredd */
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

.text {
  color: #fef6e4;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 1.7em;
  font-weight: 500;
  letter-spacing: 2px;
  text-align: center;
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  
  .navbar {
    width: 320px !important; 
    right: 0;
    left: auto;
  }

  nav ul {
    position: absolute;
    top: 15rem;              
    right: 0 !important;
    left: auto !important;
    width: 320px !important; /* Måste matcha .navbar-bredden */
    display: flex;
    flex-direction: column;
    align-items: center;    
    padding: 0;
    margin: 0;
  }

  nav li {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;    /* Mellanrum mellan menyalternativen */
  }
}


 .ul .ul .closed a{
    pointer-events: none;
  }

nav li {
  list-style: none;
  margin-bottom: 20px;
  cursor: pointer;
}


.text-placeholder {
/* --- Standard för mobil (små skärmar) --- */
  border-radius: 5px;
  width: 100%;             /* Tar upp hela bredden på mobilen */
  display: flex;
  justify-content: center;
  align-items: center;
}



 


.text {
  color: #fef6e4;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size:1.7em;
  font-weight: 500;
  letter-spacing: 2px;
}
