.about-section {
  max-width: 100%; 
  background-color:#87ad76;
  padding: 4rem 1.5rem;
  

    @media (max-width: 768px) {
      padding: 1rem;
    }

   

  .about-row {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 3rem;

    // Växlar layout automatiskt varannan rad
    &:nth-child(even) {
      flex-direction: row-reverse;
    }

    p {
        color: #fff;
    }

    @media (max-width: 768px) {
      flex-direction: column !important;
      text-align: center;
      gap: 0.5rem;
    }
  }

}