.aboutme-section {
  max-width: 1060px;
  width: 100%;
  margin: 0 auto;
  padding-top: 42px;

  .aboutme-container {
  gap: 1.5rem;
  display: flex;
  justify-content: center;

   
    @media (max-width: 768px) {
      flex-direction: column;
      text-align: center;
      max-width: 100%;
      align-items: center;
    }

    h4 {
      text-align: center;
    }}

    }
    //.image-chris{
     // background-color: rgba(194, 127, 20, 0.5);
      //height: 200px;

        .chris{
         max-width: 80%; 
         border-bottom:2px solid #045256;

         @media screen and (max-width:768px ) {
            max-width: 70%;
            
        }
        }
    


  .text-me{
    
    position:relative;
     z-index: 1;
    padding:3rem;

        p{
            color: #fff;  
            font-size:1em;    
            font-weight: 500;   
            
        }
    }

    .custom-link {
        color:#fff ;  
        text-decoration: none;
        font-weight: 500;
        border-bottom: 2px solid transparent;
        transition: all 0.3s ease;
        border-bottom: 2px solid  #045256;
      
        &:hover {
          border-bottom: 2px solid  #fff; 
          color:#045256; // mörkare färg vid hover om du vill
          cursor: pointer;
        }
      }

    .about-button{
        width: 90px;
        height: 30px;
        //background-color:#045256;
        background-color:  #045256;
        cursor: pointer;
        border-radius: 5px;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;      

        p{
            margin:2px;
            font-family: 'Barlowe Semi Condensed', sans-serif;
            font-size: 0.9em;
            font-weight: 600;
            color: #fff;   
            letter-spacing: 1px;
 
        }
        }