.about-hero{
  margin: 25px;


  .about-frontend{
    display: grid;
    grid-template-columns: 2fr 8fr;
    max-width: 100%;
    padding: 10px;

    @media screen and (max-width:768px) {
      grid-template-columns: 1fr;
       
     }

    .intro-cardone{
      max-width: 100%;
      width: 200px;
      height: 180px;
      border-radius: 5px 5px 80px 5px;
      margin: 10px;
      box-shadow: 5px 12px 20px 0 rgba(0, 0, 0, 0.5);          
      background: #ddf7f8;
      backdrop-filter: blur 5px;

      h1 {
        font-size: 7em;
        font-weight: 900;
        font-family: 'Barlow Semi Condensed', sans-serif;       
              color: rgb(105, 60, 82);        
              pointer-events: none;
              text-align: center;
              bottom: 20px;
              opacity: 0.5;
              margin-block: -14px; 
      }
      
      h4 {
        font-size: 1.8em;
        font-family: 'Barlow Semi Condensed';  
        font-weight: 500;     
        color: rgb(25, 61, 49);        
        pointer-events: none;
        text-align: center;
        margin-block: -3rem;
      }
      
   
    @media screen and (max-width:768px) {
       max-width: 100%;
        
      }
    }
  }

.frontend-text{
  background-color: #ddf7f8;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;

  @media screen and (max-width:768px) {
    max-width: 100%;
    justify-self: center;
     
   }
}

  .tech-stack{
    max-width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(8, auto);
  }

}