.footer{
    background-color:#137479;
    max-width: 100%;
    
    @media only screen and (max-width: 920px){
      margin: 0;
    }
     
  
   .footer-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    width: 1060px;
    max-width: 100%;
    margin: 0 auto;
    padding-top:20px;
    
    @media screen and (max-width: 767px){
        grid-template-columns:1fr ;
        padding:0;
        width:100%;
    }
  

    a{
        text-decoration: none;
        color: #fff;
        transition: color 0.3s ease-in-out; 
    }
    a:hover {
   
        color:#c27f14;
    }
}


.footer-title p {
  
    color: #fff;
    font-family:'Barlow Semi Condensed', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    text-align: center;
    
}
.footer-title p:hover {
   
    color:#c27f14;
}

// CONTACT GRID
.contact{
    text-align: center;


.footer-icons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
     transition: color 0.3s ease-in-out;
    

}

.footer-mail,
.footer-linked,
.footer-github{
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
     transition: color 0.3s ease-in-out;
}
.footer-mail:hover,
.footer-linked:hover, 
.footer-github:hover{
    color:#c27f14;
    
}
}

//SUBSCRIPTION
.footer-subscription{
    text-align: center;
}

//Copyright
.copyright p{
    padding: 2rem;
    color: #fff;
    font-family:'Barlow Semi Condensed', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: color 0.3s ease-in-out; 

    &:hover {
    color:#c27f14;
}

        @media screen and (max-width: 767px){
        padding: 0px;
    } 
}



//Form

.form{
    width: 50%;
    position: relative;
    padding: 10px;
    border-radius: 5px 0px 0px 5px;
    border: solid 2px rgb(201, 208, 205);
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 1
}
.form-button{
    width: 32%;
    padding: 10px; 
    text-align: center;
    border-radius: 0px 5px 5px 0px;
    border: solid 2px rgb(201, 208, 205);
    color: #fff;
    background-color:rgb(109, 126, 120);
    cursor:pointer;
    text-transform: uppercase;
   
    &:hover{
    
    background-color: rgb(184, 182, 178);
    color: #c27f14;
}
}

.validation h2{
    color: #fff;
    font-family:'Barlow Semi Condensed', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 2px;

}

//BLOG
.footer-links ul{
    font-family:'Barlow Semi Condensed', Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    list-style-type: none;
    padding-inline-start: 0px;    
    margin: 16px 0;
  
}

.footer-links:hover{

    color:#c27f14;
}
}