.full-blog-content{
    width: 700px;
    margin: 0 auto;

    img{
        width: 100%;
        height: 100%;
        border-bottom: 5px solid #045256;
        border-top:5px solid #045256;

    }

  

figure{
    margin: 0;
}
}

.goback-button{
    text-align: end;
    margin: 2rem;
}