.hero {
  display: flex;
  align-items: center;
  background-image: url('../assets/images/intro.jpg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 60%;
  //height: 100vh; // justerar för navbar
  position: relative;
  padding: 0 2rem;

  @media (max-width: 1025px)  {
    background-size: cover;
    background-position: center;
  }

  @media (min-width: 1024px)and (max-width:1025px) {
    height: 400px;
    background-size: cover;
    background-position: center;
    padding-top: 40px; 
  }

  .container {
    max-width: 1060px;
    width: 100%;
    margin: 0 auto;
    padding:3rem;
    display: flex;

    @media (max-width: 768px) {
      flex-direction: column;
      text-align: center;
      padding: 20px;
    }
  }


  .overlay-photo {
    max-width: 340px;
    height: auto;
    //border-radius: 8px;
    background-color: #137479c2;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    z-index: 1;

    @media screen and (max-width: 768px) {
       max-width:100%;
      }
  }

  .hero-text {
    //transform: translateY(-40px); 
    padding: 1rem;
    max-width: 370px;
    z-index: 3;

    p{
     color: #045256;
    }
        
  @media screen and (max-width: 768px) {
       transform: none;
       margin-right: 0;
       max-width: 90%;
       text-align: center;
       margin-bottom: 1rem;
     }
  }

}
