.hero{
  width: 1060px;
  margin: 0 auto;
  max-width: 100%;


.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem  0 0 2rem;

@media screen and (max-width:767px) {
    grid-template-columns: 1fr;
    justify-items: center;
    margin:5px;
    max-width: 100%;
    padding: 20px;
}

}

.container h1{
    margin-left: 3px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: #045256;        
    pointer-events: none;
    text-align: left;
    margin: 0;

}

.container h2{
  
  color: #045256;  
  font-size:1em;    
  font-weight: 500; 

}

  
  .left{
    width: 400px;

    @media  screen and (max-width: 767px) {
     
      width: 100%; 
      justify-items: center;
    }
  }

    
  .right{
    margin: 1rem;
    width: 500px;
    display: flex;
    justify-content: flex-end;
    background-color: #9ab8ba;
    border-radius: 1400px 0 0 0;
    border-bottom:solid 2px #045256;




    @media  screen and (max-width: 767px) {
      max-width: 100%; 
      justify-items: center;
    }
  }
  .contact-field{
    width: 220px; 
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px; 
  }

  .right img{
    max-width: 80%;
    justify-self: end;

  }
}



  

      
  