.modals {
  position: relative;
}

// Öppningsknapp
.button-modal {
  width: 200px;
  height: 250px;
  cursor: pointer;
  background: transparent;
  border: none;
  position: absolute;
  z-index: 1;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }
}

// Överlägg för modal
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  backdrop-filter: blur(4px);
  padding: 1rem;
}

// Modal-fönstret
.modal {
  position: relative; //Viktigt för att krysset ska positioneras korrekt
  width: 90%;
  max-width: 640px;
  max-height: 90vh;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

// Kryss-knapp (stäng)
.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  background: none;
  border: none;
  color: #e6dcdc;
  cursor: pointer;
  transition: color 0.3s ease;
  z-index: 10; 


  &:hover {
    color: #f94144;
  }
}

// Header
.modal-header {
  background: #137479;
  ;
  padding: 1rem 2rem;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1;
}



// Innehåll
.modal-content {
  padding: 1rem;
  flex-grow: 1;
  overflow-y: auto;
  max-height: 60vh; // ⚠️ Scroll om det blir mycket innehåll
}

// Ikoner/verktyg
.tools-used {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  max-width: 400px;
  gap: 1rem;
  margin-top: 1rem;
  text-align: center;

  .tool {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
    

    img {
      width: 40px;
      height: auto;
      object-fit: contain;
      transition: transform 0.3s ease;
    }

    .tool-name {
      font-size: 0.9 rem;
      font-weight: 500;
      font-family: 'Barlow Semi Condensed', serif;
      color: #137479;
      opacity: 0;
      margin-top: 0.3rem;
      transition: opacity 0.3s ease;
    }

    &:hover {
      img {
        transform: scale(1.2);
      }

      .tool-name {
        opacity: 1;
      }
    }
  }
}


.play{
  padding: 20px 0 0 0;


  a{
  font-family:  'Barlow Semi Condensed', serif ;
  color: #045256;  
  text-decoration: none;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
  border-bottom: 2px solid  rgb(174, 151, 162);

  &:hover {
    border-bottom: 2px solid  #045256; // underline-effekt vid hover
    color: rgb(174, 151, 162); // mörkare färg vid hover om du vill
    cursor: pointer;
  }
  }

}

