.work{
   width: 100%;
   max-width: 100%;
   background-color:#9ab8ba;

  .work-container{
   max-width:1060px;
   margin: 0 auto;
   padding: 3rem;

      h1{
        color: rgb(25, 61, 49);        
        pointer-events: none;
        font-size: 2.1em;
        
        
     }
  }

  .work-wrapper{
          
    max-width: 100%;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-gap: 20px; 
    justify-items: center;

    @media screen and (max-width: 767px) {
      grid-template-columns: 1fr;
      margin:0;
      max-width: 100%;
      grid-gap: 20px;
      padding: 0;
    }  
}

.work-cardone{
  display: grid;
  grid-template-rows: 1fr 1fr;
  max-width: 100%;
  width: 200px;
  height: 250px;
  border-radius: 5px;
  padding: 10px; 
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background: #ddf7f8;
  background-image: url('../assets/images/gu.png');
  background-size: contain;
  background-repeat: no-repeat;

  h3{
    color: #045256;
    font-weight: 600;
    margin:25px 1px;
    background: rgba(248, 240, 240, 0.8);
    padding: 10px;
    border-bottom: 1.5px solid #045256;

  }
  h4{
    color: #045256;
    font-weight: 600;
    font-family: 'Barlow Semi Condensed', sans-serif;
      }
  p{
    margin: 0;
  }

@media screen and (max-width:768px) {
   max-width: 100%;
   justify-self: center;
  
}
}

  .work-cardtwo{
    display: grid;
    grid-template-rows: 1fr 1fr;
    max-width: 100%;
    width: 200px;
    height: 250px;
    border-radius: 5px;
    padding: 10px; 
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background: #ddf7f8;
    background-image: url('../assets/images/doclounge.png');
    background-size: contain;
    background-repeat: no-repeat;
  
    h3{
      color: #045256;
      font-weight: 600;
      margin:25px 1px;
      background: rgba(248, 240, 240, 0.8);
      padding: 10px;
      border-bottom: 1.5px solid #045256;
  
    }
   
    p{
      margin: 0;
    }
  
  @media screen and (max-width:767px) {
     max-width: 100%;
     justify-self: center;
    
  }
 }

 .work-cardthree{
  display: grid;
  grid-template-rows: 1fr 1fr;
  max-width: 100%;
  width: 200px;
  height: 250px;
  border-radius: 5px;
  padding: 10px; 
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background: #ddf7f8;
  background-image: url('../assets/images/movieapp.png');
  background-size: contain;
  background-repeat: no-repeat;

  h3{
    color: #045256;
    font-weight: 600;
    margin:25px 1px;
    background: rgba(248, 240, 240, 0.8);
    padding: 10px;
    border-bottom: 1.5px solid #045256;

  }
  p{
    margin: 0;
  }

@media screen and (max-width:768px) {
   max-width: 100%;
   justify-self: center;
  
}
}
.work-cardfour{
  display: grid;
  grid-template-rows: 1fr 1fr;
  max-width: 100%;
  width: 200px;
  height: 250px;
  border-radius: 5px;
  padding: 10px; 
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background: #ddf7f8;
  background-image: url('../assets/images/memorygame.png');
  background-size: contain;
  background-repeat: no-repeat;

  h3{
    color: #045256;
    font-weight: 600;
    margin:25px 1px;
    background: rgba(248, 240, 240, 0.8);
    padding: 10px;
    border-bottom: 1.5px solid #045256;

  }
  h4{
    color: #045256;
    font-weight: 600;
    font-family: 'Barlow Semi Condensed', sans-serif;
      }
  p{
    margin: 0;
  }

@media screen and (max-width:768px) {
   max-width: 100%;
   justify-self: center;
  
}
}


}

.work-cardone:hover,
.work-cardtwo:hover,
.work-cardthree:hover,
.work-cardfour:hover{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  transition: 0.3s;

 } 


.tech-stack{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 9px 0 12px -24px;
  justify-items: center;
  padding: 0 7px 0 7px;

  img{
    width: 70%;
    aspect-ratio: 3/2;
    object-fit: contain;
  }
}

.till-projekt{
    display: flex;
    justify-content: flex-end;
    margin-top: 3rem; // ger luft ovanför
    padding: 1rem;}

//sam inez mamma pappa leah bellan magda evi gabi jonte nono loreto t