.app{
  min-height: 100vh;
  display: flex;              
  flex-direction: column;     
  background-image: url('./assets/images/newintro.jpg');
  background-size: contain;
  background-repeat:no-repeat;
  background-color:#EEEFEA;
  background-position: center top; 


 @media (max-width: 1024px) {
  background-size: cover;
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-color: rgb(231, 232, 231);
  background-position: center top;
 }
}
 
