html{
  scroll-behavior: smooth;
}

body,html {
margin: 0 auto; 
padding: 0;
width: 100%;
min-height: 100%;
overflow-x: hidden;  /* förhindra horisontell scroll */}


h1{
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 500;
  font-size: 1.9em;
  letter-spacing: 2px;
  color: #c27f14;
}

h2{
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 500;
  font-size: 1.6em;
  color: #045256;

}

h3{
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  margin: 0 16px 0 16px;
  margin-bottom:0;
  text-decoration: none;
}

h4{
  font-family: 'Moirai One', sans-serif;
  color: #045256;
  font-size: clamp(50px, 7vw, 100px);
 letter-spacing: 0.1em;
  margin-bottom:3rem;
  text-decoration: none;
  text-align: center;

  
}
h5{
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 500;
  font-size: 1.5em;
  color: #045256;
  margin:0;
  margin-bottom: 10px;

@media screen and (max-width: 768px) {
  h5{
    color: #fff;
  }
}
}

p{
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 500;
  font-size: 1em;
  color: black;

  @media screen and (max-width: 768px) {
    
      color: #fff;
    
  }  
}

a{
  text-decoration: none;
}


