html{
  scroll-behavior: smooth;
}

body {
background-color:#f4f4f4;
margin: 0 auto; 

}


h1{
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 500;
  font-size: 1.9em;
  letter-spacing: 2px;
  color: #045256;
}

h2{
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 500;
  font-size: 1.6em;
  color: #045256;

}

h3{
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  margin: 0 16px 0 16px;
  margin-bottom:0;
  text-decoration: none;
}

p{
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 500;
  font-size: 0.9em;
}

a{
  text-decoration: none;
}


